.g1ui-img-radio-items {
	width: 100%;
	margin: 0;

	list-style: none;
	font-size: 0;
}

.g1ui-img-radio-item {
	display: inline-block;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	width: 100%;
	padding: 0;
	margin: 0 0 12px;

	vertical-align: top;

	font-size: 1rem;
	text-align: center;
}

.g1ui-img-radio-item span {
	display: block;
	border-width: 1px;

	border-style: solid;
	border-color: #ccc;
}

.g1ui-img-radio-item img {
	display: block;
	margin: 0 auto;
}

.g1ui-img-radio-item input[type=radio] {
	display: none;
}

.g1ui-img-radio-item input[type=radio]:checked + span {
	border-color: #474747;
	background-color: #fff;
}




.g1-customizer-on-page-info {
	padding: 10px;
	background-color: #009933;
	color: #ffffff;
}

.g1-customizer-not-on-page-info {
	padding: 10px;
	background-color: #b22222;
	color: #ffffff;
}
