@charset "UTF-8";

@font-face {
  font-family: "bimber";
  src:url("fonts/bimber.eot");
  src:url("fonts/bimber.eot?#iefix") format("embedded-opentype"),
    url("fonts/bimber.woff") format("woff"),
    url("fonts/bimber.ttf") format("truetype"),
    url("fonts/bimber.svg#bimber") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bimber" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bimber-"]:before,
[class*=" bimber-"]:before {
  font-family: "bimber" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bimber-angle-down:before {
  content: "\e000";
}
.bimber-angle-right:before {
  content: "\e001";
}
.bimber-angle-up:before {
  content: "\e002";
}
.bimber-chevron-down:before {
  content: "\e003";
}
.bimber-chevron-left:before {
  content: "\e004";
}
.bimber-chevron-right:before {
  content: "\e005";
}
.bimber-chevron-up:before {
  content: "\e006";
}
.bimber-caret-down:before {
  content: "\e007";
}
.bimber-caret-left:before {
  content: "\e008";
}
.bimber-caret-right:before {
  content: "\e009";
}
.bimber-caret-up:before {
  content: "\e00a";
}
.bimber-arrow-right:before {
  content: "\e00b";
}
.bimber-arrow-down:before {
  content: "\e00c";
}
.bimber-arrow-left:before {
  content: "\e00d";
}
.bimber-trending:before {
  content: "\e00e";
}
.bimber-arrow-up:before {
  content: "\e00f";
}
.bimber-mail:before {
  content: "\e012";
}
.bimber-user:before {
  content: "\e013";
}
.bimber-popular:before {
  content: "\e015";
}
.bimber-search:before {
  content: "\e016";
}
.bimber-flame:before {
  content: "\e018";
}
.bimber-home:before {
  content: "\e019";
}
.bimber-angle-left:before {
  content: "\e01a";
}
.bimber-close:before {
  content: "\e01b";
}
.bimber-fire:before {
  content: "\e01c";
}
.bimber-spinner:before {
  content: "\e01d";
}
.bimber-latest:before {
  content: "\e017";
}
.bimber-more-horizontal:before {
  content: "\e01f";
}
.bimber-more-vertical:before {
  content: "\e020";
}
.bimber-add:before {
  content: "\e021";
}
.bimber-camera:before {
  content: "\e023";
}
.bimber-nsfw:before {
  content: "\e022";
}
.bimber-comments:before {
  content: "\e010";
}
.bimber-views:before {
  content: "\e014";
}
.bimber-gallery:before {
  content: "\e024";
}
.bimber-hash:before {
  content: "\e025";
}
.bimber-play:before {
  content: "\e01e";
}
.bimber-shares:before {
  content: "\e011";
}
