/**
 * Snax plugin integration
 */
body.snax-page-frontend-submission.g1-has-mobile-logo .g1-header {
  display: none; }

body.snax-page-frontend-submission.g1-has-mobile-logo .g1-navbar .g1-logo-small-wrapper {
  display: block; }

.snax-formats > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .snax-formats > li > a .snax-format-desc {
    opacity: 1;
    font-family: "Roboto", "Arial", sans-serif;
    color: #999; }

.snax-xofy {
  font-family: "Roboto", "Arial", sans-serif; }
  .snax-xofy .snax-xofy-x,
  .snax-xofy .snax-xofy-y {
    font-weight: 700; }

ul.tagit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding-right: 8px;
  padding-left: 8px; }
  ul.tagit li.tagit-new {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }

.snax-tabs-nav {
  font-family: "Poppins", sans-serif; }

.snax-actions {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px; }

.snax-item-media .snax-item-media-meta {
  font-size: 13px; }

.snax-voting .snax-voting-upvote::before {
  font-family: "bimber";
  content: "\e006"; }

.snax-voting .snax-voting-downvote::before {
  font-family: "bimber";
  content: "\e003"; }

.snax-voting .snax-voting-score {
  font-family: "Roboto", "Arial", sans-serif; }

.snax .snax-form-side #drag-drop-area input[type=button] {
  padding: 3px 20px;
  font-size: 12px; }

.snax-item .snax-item-meta {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300; }
  .snax-item .snax-item-meta strong {
    font-weight: 500; }
  .snax-item .snax-item-meta .snax-item-date {
    font-size: 13px; }

@media only screen and (min-width: 820px) {
  .snax .snax-form-frontend-without-media .snax-form-main {
    width: 66.66667%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto; } }

.snax .snax-object-container .g1-fluid-wrapper,
.snax .snax-item-embed-code .g1-fluid-wrapper {
  margin-bottom: 0; }

@media only screen and (min-width: 769px) {
  .snax .snax-formats-3 > li {
    width: 33.33333%; }
  .snax .snax-formats-4 > li {
    width: 25%; }
  .snax .snax-formats-5 > li {
    width: 33.33333%; }
  .snax .snax-formats-6 > li {
    width: 33.33333%; }
  .snax .snax-formats-7 > li {
    width: 25%; }
  .snax .snax-formats-8 > li {
    width: 25%; } }

@media only screen and (min-width: 1025px) {
  .snax .snax-formats .snax-format {
    padding-right: 30px;
    padding-left: 30px; } }

.snax .snax-wpsl .wp-social-login-provider-list {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.snax .snax-wpsl .wp-social-login-provider {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 6px 6px 0;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: "Rajdhani", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.snax .snax-voting .snax-voting-score {
  font-size: 13px;
  font-weight: 300; }

.snax .snax-voting .snax-voting-upvote:before {
  font: 21px/1 "bimber", sans-serif;
  content: "\e006"; }

.snax .snax-voting .snax-voting-downvote:before {
  font: 21px/1 "bimber", sans-serif;
  content: "\e003"; }

.snax .snax-voting-container .snax-voting-container-title {
  margin-bottom: 1rem; }

.snax .snax-voting-large {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .snax .snax-voting-large .snax-voting-score {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .snax .snax-voting-large .snax-voting-score strong {
      display: block; }
  .snax .snax-voting-large .snax-voting-upvote:before,
  .snax .snax-voting-large .snax-voting-downvote:before {
    font-size: 42px; }

.snax .snax-item-share-toggle {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300; }
  .snax .snax-item-share-toggle:before {
    font: 14px/1 "bimber", sans-serif;
    content: "\e011"; }

.snax .snax-item-media-meta {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300; }

.snax .snax-actions .snax-action-links {
  border-width: 0;
  -webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.07); }
  .snax .snax-actions .snax-action-links .snax-action-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 13px;
    line-height: 1.25;
    opacity: 1;
    color: inherit; }

.snax .snax-edit-post-row-legal {
  font-size: 13px; }

.snax-item-box {
  position: relative; }
  .snax-item-box .snax-item-share {
    position: absolute;
    right: auto;
    left: 100%;
    top: 0;
    margin-left: 6px; }
    .snax-item-box .snax-item-share .snax-item-share-toggle {
      display: block;
      overflow: hidden;
      width: 32px;
      height: 32px;
      font-size: 0;
      text-align: center;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border-color: #c5c5c5;
      background-color: #c5c5c5;
      color: #fff; }
      .snax-item-box .snax-item-share .snax-item-share-toggle:before {
        margin: 0;
        font-size: 18px;
        line-height: 32px; }
    .snax-item-box .snax-item-share .snax-item-share-content {
      overflow: hidden;
      right: auto;
      left: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }

.g1-navbar .snax-button-create {
  display: none;
  float: left;
  margin: 6px 20px 6px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1; }
  @media only screen and (min-width: 601px) {
    .g1-navbar .snax-button-create {
      display: block; } }
  .g1-navbar .snax-button-create:hover {
    color: #fff; }

.snax-widget-cta .g1-box-icon:before {
  content: "\e021"; }

.snax .snax-item-actions .snax-voting {
  margin-top: 10px; }

#snax-popup-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.snax .snax-list-collection-item > div {
  margin-bottom: 0; }
  .snax .snax-list-collection-item > div > a {
    float: none;
    width: auto;
    margin-left: 0;
    margin-bottom: 0.75rem; }

.wp-caption-text .snax-figure-source {
  text-decoration: none; }
  .wp-caption-text .snax-figure-source:before {
    font-size: 13px;
    text-decoration: underline;
    content: attr(data-snax-placeholder); }

.g1-canvas-content .snax-button-create {
  display: block;
  margin-bottom: 1.5rem; }

.snax .snax-list-collection-item {
  margin-bottom: 10px;
  background-color: #fff; }
  .snax .snax-list-collection-item .entry-title {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0.75rem; }

.snax .snax-item-author > a {
  color: #000; }

.snax .snax-voting-simple {
  margin-left: 15px; }
  .snax .snax-voting-simple .snax-voting-upvote {
    padding: 8px;
    margin-left: 1px;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    color: #999;
    border-radius: 0 0 0 0;
    opacity: 1 !important; }
  .snax .snax-voting-simple .snax-voting-downvote {
    padding: 8px;
    margin-right: 0;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    color: #999;
    border-radius: 0 0 0 0;
    opacity: 1 !important; }
