.g1ui-settings-section iframe {
    width: 100%;
}

.g1ui-settings-section iframe { width: 100%; }
.g1ui-settings-section iframe * { display: none; }
.g1ui-settings-section iframe #wpwrap { display: block; }


.g1-theme-plugins > th, .g1-theme-plugins > td { background-color: #0dc5dc; color: #fff; }

.g1-theme-plugins-switcher { display: block; padding: 10px 0; font-size: 18px; color: #fff; }

.g1-theme-plugins-switcher:hover { color: #000; }

#g1-ads .plugin-title > strong:before, #g1-better-titles .plugin-title > strong:before, #g1-mailchimp .plugin-title > strong:before, #g1-more-than-menu .plugin-title > strong:before, #g1-page-builder .plugin-title > strong:before, #g1-quotes .plugin-title > strong:before, #g1-reviews .plugin-title > strong:before, #g1-socials .plugin-title > strong:before, #g1-twitter .plugin-title > strong:before, #g1-users .plugin-title > strong:before { margin: 0 5px 0 0; padding: 1px 6px; font-size: 10px; line-height: 1; font-weight: normal; text-transform: uppercase; vertical-align: middle; content: "Theme"; -webkit-border-radius: 1em; -moz-border-radius: 1em; -ms-border-radius: 1em; -o-border-radius: 1em; border-radius: 1em; background-color: #0dc5dc; color: #fff; }

#g1ui-settings-section-pages, #g1ui-settings-section-g1_ads_options, #g1ui-settings-section-g1_twitter_options, #g1ui-settings-section-g1_mailchimp_options, #g1ui-settings-section-g1_socials_options, #g1ui-settings-section-advanced, #g1ui-settings-section-import { border-top: 1px solid #ccc; }








.g1ui-plugicons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    margin-bottom: 3em;
    letter-spacing: -0.31em;
}



.g1ui-plugicon {
    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    position: relative;
    width: 140px;
    margin: 0 6px 6px 0;
    padding: 15px 10px 50px;
    border-width: 1px;
    vertical-align: top;
    letter-spacing: normal;
    text-align: center;
    border-style: solid;

    -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out;
       -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out;
            transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out;

    border-color: #d9d9d9;
    background-color: #fff;
}

.g1ui-plugicon-g1-ads .g1ui-plugicon-icon { background-image: url(../images/settings-ads-icon-48.png); }
.g1ui-plugicon-g1-socials .g1ui-plugicon-icon { background-image: url(../images/settings-socials-icon-48.png); }

.g1ui-plugicon-title { display: block; margin: 0.75em 0; }

.g1ui-plugicon-desc { display: block; font-size: 12px; opacity: 0.66; }

.g1ui-plugicon-bar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 0; bottom: 0; width: 100%; padding: 10px; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; }

.g1ui-plugicon-checked { cursor: pointer; }
.g1ui-plugicon-checked .g1ui-plugicon-bar { background-color: #e6e6e6; }

.g1ui-plugicon-unchecked { cursor: pointer; background-color: transparent; }

.g1ui-plugicon-omitted { opacity: 0.1; }
.g1ui-plugicon-omitted .g1ui-plugicon-checkbox { visibility: hidden; }

.g1ui-plugicon-loading .g1ui-plugicon-checkbox { visibility: hidden; }
.g1ui-plugicon-loading .g1ui-plugicon-bar:after { display: block; position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; content: ""; background: url(/wp-admin/images/spinner.gif) no-repeat center center; }

.g1ui-plugicon-pending .g1ui-plugicon-checkbox { visibility: hidden; }

.g1ui-plugicon-succeed { border-color: #00c08e; }
.g1ui-plugicon-succeed .g1ui-plugicon-bar { background-color: #00c08e; color: #fff; }
.g1ui-plugicon-succeed .g1ui-plugicon-bar:before { display: block; position: absolute; left: 50%; top: 50%; width: 1em; height: 1em; margin: -0.5em 0 0 -0.5em; font-size: 20px; line-height: 1; font-family: dashicons; content: "\f106"; }
.g1ui-plugicon-succeed .g1ui-plugicon-checkbox { visibility: hidden; }

.g1ui-plugicon-failed { border-color: #ff435c; }
.g1ui-plugicon-failed .g1ui-plugicon-bar { background-color: #ff435c; color: #fff; }
.g1ui-plugicon-failed .g1ui-plugicon-bar:before { display: block; position: absolute; left: 50%; top: 50%; width: 1em; height: 1em; margin: -0.5em 0 0 -0.5em; font-size: 20px; line-height: 1; font-family: dashicons; content: "\f227"; }
.g1ui-plugicon-failed .g1ui-plugicon-checkbox { visibility: hidden; }



.g1ui-plugicon-progress { display: block; position: absolute; top: 0; left: 0; height: 4px; background-color: #00c08e; }



.g1ui-demicons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-bottom: 3em;

    letter-spacing: -0.31em;
}

.g1ui-demicons .g1ui-plugicon {
    width: 300px;
}







.g1ui-wrap-simplified .g1ui-navicons, .g1ui-wrap-simplified .g1ui-settings-toolbar, .g1ui-wrap-simplified .nav-tab-wrapper { display: none !important; }



.g1ui-cols {
    max-width: 1140px;
    margin-bottom: 3em;
}

.g1ui-cols:after {
    display: table;
    clear: both;
    content: "";
}


.g1ui-col {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;

    padding-left: 20px;
    padding-right: 20px;
    width: 33%;
}

/* Wordpress Importer plugin shouldn't be visible for the user */
.g1ui-plugicon.g1ui-plugicon-wordpress-importer { display: none !important; }



